@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #f1f1f1;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.key {
  border: 1px solid #999;
  background: #eee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  min-width: 150px;
  position: relative;
}

.key small {
  position: absolute;
  top: -25px;
  left: 0px;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 14px;
}
